{% set event_descriptions = {
	'1': "Booking",
	'2': "Second Booking",
	'3': "Sendoff",
	'4': "Goal",
	'5': "Own Goal",
	'6': "Substitution",
	'7': "Substitution Off",
	'8': "Substitution On",
	'9': "Penalty Goal",
	'10': "Missed Penalty"
} %}


<div class="gamedetails {{ 'live' if game.match_status == 1 }}" data-gameid="{{ game.uid }}">


	<table>
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
		</colgroup>


		<tr>
			<td colspan=5 class="date">
				{% if game.match_status == 0%}
					{% if game.date %}Scheduled for {{ game.date }}
					{% else %}To be scheduled{% endif %}
				{% elif game.match_status == 1 %}LIVE
				{% else %}
					{% if game.date %}{{ game.date }}
					{% else %}Unknown Date{% endif %}
				{% endif %}</td>
		</tr>
		<tr>
			<td>
				<img onclick="selectTeam(this)" data-teamid="{{ game.home_team.uid }}" class='team_coat' src="/content/teams/{{ game.home_team.coat }}" />
			</td>
			<td class="goals">{% if game.match_status < 3 and game.match_status > 0 %}{{ game.result[0] }}{% endif %}</td>
			<td class="goals">{% if game.match_status < 3 and game.match_status > 0 %}-{% endif %}</td>
			<td class="goals">{% if game.match_status < 3 and game.match_status > 0 %}{{ game.result[1] }}{% endif %}</td>
			<td>
				<img onclick="selectTeam(this)" data-teamid="{{ game.away_team.uid }}" class='team_coat' src="/content/teams/{{ game.away_team.coat }}" />
			</td>
		</tr>

		<tr class="team_names">
			<td>{{ game.home_team.name }}</td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ game.away_team.name }}</td>
		</tr>
		<tr class="game_info">
			<td>{{ game.home_team.player.name }}</td>
			<td colspan=3>
			{% if game.match_status > 2 %}Cancelled{% endif %}
		</td>
		<td>{{ game.away_team.player.name }}</td>
	</tr>
		<tr class="game_info_detailed">
			<td>{% if game.home_coach or game.away_coach %}Coach: {{ game.home_coach or 'Unknown' }}{% endif %}</td>
			<td colspan=3>
				{% if game.match_status > 3 and game.match_status < 6 %}
					The win was awarded to {% if game.match_status == 4 %}{{ game.home_team.name }}{% elif game.match_status == 5 %}{{ game.away_team.name }}{% endif %}.
				{% elseif game.match_status == 6 %}
					The game was ruled as a draw.
				{% elseif game.match_status == 3 %}
					No team was awarded points.
				{% endif %}
			</td>
			<td>{% if game.home_coach or game.away_coach %}Coach: {{ game.away_coach or 'Unknown' }}{% endif %}</td>

		</tr>


		{% for event in game.events %}
		<tr class="game_event">
			{% if not event.home %}
				<td colspan=2></td>
				<td>{{ event.minute_display }}</td>
				<td colspan=2 class='right_side'>
					<img class="match_event_icon" src='/icons/{{ event.event_type }}.svg' title="{{ event_descriptions[event.event_type] }}" />
					{{ event.player or 'Unknown'}}
				</td>
			{% endif %}



			{% if event.home %}
				<td colspan=2 class='left_side'>
					{{ event.player or 'Unknown' }}
					<img class="match_event_icon" src='/icons/{{ event.event_type }}.svg' title="{{ event_descriptions[event.event_type] }}"  />

				</td>
				<td>{{ event.minute_display }}</td>
				<td colspan=2></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
