<div class="team_profile" data-teamid="{{ team.uid }}">
	<div class="crest"><img src="/content/teams/{{ team.coat }}" /></div>
	<div class="team_info">
			<h1>{{ team.name }}</h1>
			<span>{{ team.player.name }}</span><br/>
			<span>{{ team.season }}</span><br/><br/>

		</div>
		<div class="other_teams team_icon_list">
			{{ team.player.name }} Seasons<br/><br/>
			{% for team in team.player.teams %}
				<img title="{{ team.name }} ({{ team.season }})" src="/content/teams/{{ team.coat }}" onclick="selectTeam(this)" id="entity_{{ team.uid }}" data-teamid="{{ team.uid }}" />
			{% endfor %}
		</div>
</div>
