{% for game in games | reverse %}

{% if game.match_status != 0 %}

<div class="clickable game {{ 'live' if game.match_status == 1 }}" onclick="selectGame(this)" id="entity_{{ game.uid }}" data-gameid="{{ game.uid }}">


	<table>
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
		</colgroup>


		<tr>
			<td colspan=5 class="date">{{ 'Cancelled' if (game.match_status > 2) else ('LIVE' if game.match_status == 1 else game.date) }}</td>
		</tr>
		<tr>
			<td>
				<img class='team_coat' src="/content/teams/{{ game.home_team.coat }}" />
			</td>
			<td class="goals">{% if game.match_status < 3 %}{{ game.result[0] }}{% endif %}</td>
			<td class="goals">{% if game.match_status < 3 %}-{% endif %}</td>
			<td class="goals">{% if game.match_status < 3 %}{{ game.result[1] }}{% endif %}</td>
			<td>
				<img class='team_coat' src="/content/teams/{{ game.away_team.coat }}" />
			</td>
		</tr>
	</table>
</div>

{% endif %}

{% endfor %}
