{% for game in games %}

{% if game.match_status != 0 or game.date %}
<div class="game game_relative {{ 'live' if game.match_status == 1 }} {{ 'win' if game.result == 'W' }} {{ 'loss' if game.result == 'L' }}"
	onclick="selectGame(this)" id="entity_{{ game.uid }}" data-gameid="{{ game.uid }}">


	<table>
		<colgroup>
			<col />
			<col />
			<col />
			<col />
			<col />
		</colgroup>


		<tr>
			<td colspan=5 class="date">{{ 'Cancelled' if (game.match_status > 2) else ('LIVE' if game.match_status == 1 else ('To be played' if game.match_status == 0 else game.date)) }}</td>
		</tr>
		<tr>
			<td class="location">
				{% if game.home %}H{% else %}A{% endif %}
			</td>
			<td class="goals">{% if game.match_status < 3 and game.match_status > 0 %}{{ game.score[0] }}{% endif %}</td>
			<td class="goals">{% if game.match_status < 3 and game.match_status > 0 %}-{% endif %}</td>
			<td class="goals">{% if game.match_status < 3 and game.match_status > 0 %}{{ game.score[1] }}{% endif %}</td>
			<td>
				<img class='team_coat' src="/content/teams/{{ game.opponent.coat }}" />
			</td>
		</tr>
	</table>
</div>

{% endif %}

{% endfor %}
