{% set game_status_classes = {
	'0': 'unplayed',
	'1': 'live',
	'2': 'played',
	'3': 'cancelled',
	'4': 'cancelled',
	'5': 'cancelled',
	'6': 'cancelled'
} %}

{% set event_descriptions = {
	'1': "Booking",
	'2': "Second Booking",
	'3': "Sendoff",
	'4': "Goal",
	'5': "Own Goal",
	'6': "Substitution",
	'7': "Substitution Off",
	'8': "Substitution On",
	'9': "Penalty Goal",
	'10': "Missed Penalty"
} %}
