
    {% for entry in table %}
    <tr>
        <td class="clickable" title="{{ entry.player.name }}" onclick="selectTeam(this)" data-teamid="{{ entry.uid }}" >
					<img src="/content/teams/{{ entry.coat }}" />
					{{ entry.shortname }}
				</td>
				<td class="narrowcol">{{ entry.stats.played }}</td>
				<td class="narrowcol">{{ entry.stats.results.won }}</td>
				<td class="narrowcol">{{ entry.stats.results.drawn }}</td>
				<td class="narrowcol">{{ entry.stats.results.lost }}</td>
				<td class="narrowcol">{{ entry.stats.goals.for }}</td>
				<td class="narrowcol">{{ entry.stats.goals.against }}</td>
				<td class="narrowcol">{{ entry.stats.goals.difference }}</td>
				<td class="numbercol">{{ entry.stats.points }}</td>
    </tr>
    {% endfor %}
