
    {% for entry in table %}
    <tr>
        <td class="clickable" title="{{ entry.player.name }}" onclick="selectTeam(this)" data-teamid="{{ entry.uid }}" >
					<img src="/content/teams/{{ entry.coat }}" />
					{{ entry.name }}
				</td>
				<td class="narrowcol">{{ entry.played }}</td>
				<td class="narrowcol">{{ entry.results.won }}</td>
				<td class="narrowcol">{{ entry.results.drawn }}</td>
				<td class="narrowcol">{{ entry.results.lost }}</td>
				<td class="narrowcol">{{ entry.goals.for }}</td>
				<td class="narrowcol">{{ entry.goals.against }}</td>
				<td class="narrowcol">{{ entry.goals.difference }}</td>
				<td class="numbercol">{{ entry.points }}</td>
    </tr>
    {% endfor %}
