
    {% for entry in all_time_table %}
    <tr>
        <td class="clickable" onclick="selectTeam(this)" data-playerid="{{ entry.uid }}" data-teamid="{{ (entry.teams | last).uid }}" >
					{{ entry.name }}
				</td>
				<td class="narrowcol">{{ entry.all_time_stats.played }}</td>
				<td class="narrowcol">{{ entry.all_time_stats.results.won }}</td>
				<td class="narrowcol">{{ entry.all_time_stats.results.drawn }}</td>
				<td class="narrowcol">{{ entry.all_time_stats.results.lost }}</td>
				<td class="narrowcol">{{ entry.all_time_stats.goals.for }}</td>
				<td class="narrowcol">{{ entry.all_time_stats.goals.against }}</td>
				<td class="narrowcol">{{ entry.all_time_stats.goals.difference }}</td>
				<td class="numbercol">{{ entry.all_time_stats.points }}</td>
    </tr>
    {% endfor %}
