body {
	grid-template-rows: 190px 300px 170px auto 80px;
	grid-template-columns: auto;
}

header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
section#table {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
section#games {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	overflow-x: scroll;
}
section#news {
	display: none;

}
section#upload {
	display: none;
}
section#main_area {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	overflow-y: scroll;
}
footer {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
}
