body {
	grid-template-rows: 240px 380px 170px auto 80px;
	grid-template-columns: auto;
}

h1 {
	display:none;
}


.nomobile {
	display: none;
}






/* SECTION POSITIONS */

header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
section#table {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-size: 2em;
}
section#games {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	overflow-x: scroll;

}
section#news {
	display: none;

}
section#upload {
	display: none;
}
section#main_area {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	overflow-y: scroll;
}
footer {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
}



/* SNIPPETS */

.team_icon_list img {
	width: 60px;
	height: 60px;
}


table.styledtable col.narrowcol, table.styledtable td.narrowcol, table.styledtable th.narrowcol  {
	width: 45px;
}
table.styledtable col.numbercol, table.styledtable td.numbercol, table.styledtable th.numbercol {
	width: 60px;
}

table.styledtable td:nth-child(1) {
	padding-left: 4px;
}
table.styledtable td img {
	display: none;
}



#games .game td {
	padding: 3px;
}
#games .game td.date {
	wat-opacity: 0;
}
#games .game td.goals {
	font-size: 240%;
}
#main_area .game_relative td {
	padding: 3px;
}
#main_area .game_relative td.goals {
	font-size: 240%;
	font-weight: bold;
}

#main_area .game_relative td.location {
	width: 50px;
}



/* TEAM PROFILE */

#main_area .team_profile .season_games {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}
#main_area .team_profile .other_teams {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}
#main_area .team_profile .scorers {
	grid-column: 1 / 4;
	grid-row: 4 / 5;
}
#main_area .team_profile .cards {
	grid-column: 1 / 4;
	grid-row: 5 / 6;
}

#main_area div.team_info {
	font-size: 200%;
}
#main_area .team_profile div.team_info img {
	height: 200px;
}
#main_area .team_profile .team_info table td:nth-child(1) {
	width: 190px;
}
#main_area .team_profile div.team_info h2 {
	margin-top: 0;
}


#main_area .team_profile {
	grid-template-rows: 220px auto auto;
}


/* HEADER */

header #season_list div {
	margin-left: 5px;
	margin-right: 5px;
	width: 120px;
	font-size: 200%;
}
