body {
	grid-template-rows: 190px 380px 170px auto 80px;
	grid-template-columns: auto;
}

h1 {
	display:none;
}

header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
section#table {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-size: 2em;
}
table.styledtable col.narrowcol, table.styledtable td.narrowcol, table.styledtable th.narrowcol  {
	width: 45px;
}
table.styledtable col.numbercol, table.styledtable td.numbercol, table.styledtable th.numbercol {
	width: 60px;
}

section#games {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	overflow-x: scroll;

}
section#news {
	display: none;

}
section#upload {
	display: none;
}
section#main_area {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	overflow-y: scroll;
}
footer {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
}
